.git
Dockerfile
.DS_Store
.gitignore
README.md
reviews.json
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.cache
.tox

# To prevent storing dev/temporary container data
/tmp/*
